body {
     background-color: lightcyan;
    font-family: 'Arial Black','Arial Bold',sans-serif;
    color: white; 
    width:900px
}


#content {  
    background-color:darkcyan;
    width: 900px;
    padding:20px 10px 30px;
    color:white;
    border:2px solid;
    border-color:white;
   
}

.content
    margin:0 auto; 

#paragraphs {

   background-color:aquamarine;
    color:darkblue;
    padding: 8px; 
    border: 2px dashed; 
    border-color:darkblue; 

    }
p {
    text-indent:10px;

}

nav{
    background-color:red;
    color:aqua; 
}

header{
    padding: 20px; 
    color:white;
}



footer{
    background-color: yellow;
    color:green;
}