body {
     background-color: darkcyan;
    font-family: 'Arial Black','Arial Bold',sans-serif;
    color: white; 
}

#content {
    margin: 0 auto;
    background-color:black;
    width: 900px;
    padding:20px 10px 30px;
    
}

p {

   background-color:aquamarine;
    color:darkblue;

    }

nav{
    background-color:red;
}

header{
    padding: 20px; 
}



footer{
    background-color: yellow;
    color:green;
}