body{
    background-color:darkred;
    font-family:cursive;
    color:#330000;
}
#container{
    position:relative;
    margin:0 auto;
    width:1400px;
    height:100vh; 
    background-color:papayawhip;
    border-radius:8px;
    
}
h1,h2,h3,h4,h5,h6,p{
    margin:0px;
    padding:0px;
}
#nav{
    margin:0 auto;
    width:900px;
}
#nav .button{
    display:inline-block;
    
}
.button{
    text-align:center;
    
}
.button a{
    text-decoration:none;
    color:cornsilk;
    padding:20px;
    padding-top:50px;
    margin-top:10px;
    background-color: #662200;
    font-family: 'Bangers', cursive;
    font-size:24px;
    border-radius:5px;
    background: url(wood.jpg);
    background-size:300px;
}
.button a:hover{
    color:white;
}
#contact{
    position:relative;
    margin:30px;
    font-family:'Tahoma','Arial Black', sans-serif;
    background-color:ivory;
    padding:15px;
    border:2px dotted;
    border-color:brown;
    border-radius:5px;
}
#contact p{
    font-weight:bold;
    padding-left:10px;
    margin:.3em;
    font-size;
    text-align:center;
}
#contact p em{
    color:red;
    font-style:normal;
    font-weight:bold; 
    
}
#contact h2{
    text-align:center; 
}
#contact table{
    width:100%;
}