body{
    background-color:blue;
}

#contentshell{
    background-color:white;
    display:flex;
}

#section1,#section2,#section3{
    width:960px;
    height:570px;
    position:relative;
}




#redbox,#yellowbox, #greenbox, #bluebox{
    width:200px;
    height:200px;
  
}

#redbox{
    background-color:red;
}

#yellowbox{
    background-color: yellow;
}

#greenbox{
    background-color: green;
}

#bluebox{
    background-color:blue;
}