body{
    background-color:black;
    color:blueviolet;
    font-family:'Helvetica', sans-serif;
    font-weight:bold;
}

#container{
    width:1000px;
    margin:0 auto;
 
}

header{
    color:white;
    font-weight:bolder
}

#content{
    border-left:1px solid;
    border-right:1px solid;
    border-color:darkslategrey;
    min-height: 800px;
}