body{
    background-color:ghostwhite;
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    color:white;

}
h1,h2,h3,p{
    margin:0;
    padding:0;
}
a{
    text-decoration:none;
}
#container{
    width:1000px;
    background-color:rebeccapurple;
    margin:0 auto;
    min-height:800px;
    border-radius:30px;
    position:relative;
}
#header{
    positon:relative;
    height:100px;
    width:100%;
}
#navbar{
    padding:40px;
    
}
#navbar{
    float:left;
}
 #navbar a{
    text-decoration:none;
     color:white;
    margin:5px;
     text-shadow:1px 1px black;
}
#navbar a:hover{
    color:lightblue;
}

#logo img{
    width:300px;
    height:100%;
    float:right;
    padding:10px 20px
   
}
#promo{
    position:static;
    width:100%;
    height:475px;
    background-image:url("piano.jpeg");
    background-color:#262626;
}
#promo img{
  
    width:100%;
    height:100%;
    margin:0;
    padding:0;
  
}

#promomessage{
    margin: 0 auto;
    width:600px;
    
}
#promomessage h3{
    text-align:center;
    margin-top:40px;
    font-size:20px;
    

}
#promomessage h1{
    text-align:center;
    padding:60px 0px 60px 0px;
    font-size:40px;
}

.button{
    display:inline-block;
    background-color:#ecb3ff;
    color:purple;
    font-family:cursive;
    font-weight:800;
    font-size:23px;
    padding:8px 20px 8px 20px;
    border-radius:10px;
    border-top:4px solid;
    border-left:2px solid;
    border-color:white;
    text-shadow:1px 1px gray;   
    
    
}
.button a{
    text-decoration:none;
}

.button:hover{
  
    background-color:#b3ccff;
    color:white;
  
      
    
    
}
#promomessage .button{
    position:absolute;
    right:43%;
    margin:40px;
    
}

