body{
    background-color:ghostwhite;
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    color:white;

}

#container{
    width:1000px;
    background-color:rebeccapurple;
    margin:0 auto;
    min-height:800px;
    border-radius:40px;
    position:relative;
}
#header{
    positon:relative;
    height:100px;
    width:100%;
}
#navbar, #logo{
    padding:40px;
    
}
 #navbar a{
    text-decoration:none;
     color:white;
    margin:5px;
     text-shadow:1px 1px black;
}
#navbar a:hover{
    color:lightblue;
}

