body{
    background-color:ghostwhite;
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    color:white;
    margin:0px;
    padding:0px;

}
h1,h2,h3,h5,h6,p{
    margin:0;
    padding:0;
}
a{
    text-decoration:none;
}
#content{
    margin:0;
    padding:0px;
}

#container{
    width:1000px;
    background-color:rebeccapurple;
    margin:0 auto;
    box-sizing:border-box;
    border-radius:30px;
    position:relative;
    display:block;
}
#header{
    positon:relative;
    height:100px;
    width:100%;
}
#navbar{
    padding:40px;
    
}
#navbar{
    float:left;
}
 #navbar a{
    text-decoration:none;
     color:white;
    margin:5px;
     text-shadow:1px 1px black;
}
#navbar a:hover{
    color:lightblue;
}

#logo img{
    width:300px;
    height:100%;
    float:right;
    padding:10px 20px
   
}
#promo{
    position:static;
    width:100%;
    height:475px;
    background-image:url("explode.jpg");
    background-color:palevioletred;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}
#promo img{
  
    width:100%;
    height:100%;
    margin:0;
    padding:0;
  
}

#promomessage{
    margin: 0 auto;
    width:600px;
    
    
}
#promomessage h3{
    text-align:center;
    margin-top:40px;
    font-size:20px;
    

}
#promomessage h1{
    text-align:center;
    padding:60px 0px 60px 0px;
    font-size:60px;
}

.button{
    display:inline-block;
    background-color:#ecb3ff;
    color:purple;
    font-family:cursive;
    font-weight:800;
    font-size:23px;
    padding:8px 20px 8px 20px;
    border-radius:10px;
    border-top:4px solid;
    border-left:2px solid;
    border-color:white;
    text-shadow:1px 1px gray;   
    
    
}
.button a{
    text-decoration:none;
}

.button:hover{
  
    background-color:#b3ccff;
    color:white;
  
      
    
    
}
#promomessage .button{
    position:absolute;
    right:43%;
    margin:40px;
    
}

#featurecont{
    display:flex;
    position:relative;
      /*position:absolute;
    left:0;
    top:600px;*/
    width:100%;
    max-height:250px;
    background-color:rebeccapurple;
    margin:0 auto;

    border-radius:15px;
}
.feature img{
    flex:1;
    background-color:white;
    margin:10px;
    margin-top:40px;  
    height:200px;
    border-radius:300px;
    
}
.feature{
    max-height:300px;
}
#featurecont div{
    flex:1;
    margin:0 auto;
    color:white;
    text-align:center;
}
.feature h1{
    margin:10px;
}

#bottom{
    clear:both;
    display:flex;
    position:relative;
    color:white;
    width:100%;
    min-height:500px;
    
  
}
#bottomtext{
    
    width:400px;
    flex:1;
 
}

#bottom a{
    text-decoration:none;
}


#footer /*div*/{
    postion:absolute;
    font-family:'Arial', sans-serif;
    right:45%;
    bottom:0;
    font-weight:400;
   
    
}

#bottomnav a{
    text-decoration:none;
    color:white;
    margin-bottom:5px;
}
#bottomnav a:hover{
    color:lightcyan;
}
h5{
    font-size:10px;
}
