body { 
    background-color:lightcyan;
}

h1,h2,h3
{
   
    margin:0;
}

.branding{
    background: black;
    width: 150px;
    height:20px;
    margin-right:auto;
}

nav a{ 
    display:inline-block;
    background:white;
    border:1px solid;
    border-color:darkgrey;
    border-radius:20px;
    padding:10px 30px 10px 30px;
    text-decoration:none;
    
.main-container
    {
    width:900px;
}
    
*{
    box-sizing:border-box;
}