* {
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-family:cursive;
}

.main-container {
    width: 1000px;
    margin: 0 auto 0 auto;
    font-family:cursive;
    font-weight:700;
}

.promo-container {
    background: salmon;
    border-radius:20px;
}

header {
    display: flex;
    padding:15px 20px;
    background-color:whitesmoke;
}

.branding {
    background: black;
    width:150px;
    height:45px;
    margin-right: auto;
}

.pill-button {
    display: inline-block;
    background-color:#330000;
    padding: 20px 40px 20px 40px;
    border-radius: 40px;
    color: beige;
    text-decoration: none;
}

.promo {
    background: whitesmoke;
    color: black;
    font-size: 18px;
}

/* Big Promo */

#big-promo {
    padding-top: 200px;
}

.promo-message {
    width: 60%;
    padding: 50px;
    color:whitesmoke;
    text-shadow:2px 1px #330000;
   
}

 h1{
    font-size:36px;
   font-family:'Kaushan Script', cursive;
    text-shadow:1px 0px white; 
     color:#300000

}

.promo-message p{
    font-size:20px
}
.promo-message 
.pill-button{
    color:#330000;
    text-shadow:none;
}

/* Product Features */

.product-features, .product-buy-it-now {
  display: flex;
    padding:20px 0px;
   
}

.feature {
  text-align: center;
  padding: 20px;
    background-color:#330000;
    color:beige;
    border-radius:20px;
     border:3px solid;
    border-color:salmon;
}

.feature-image {
  width: 200px;
  height: 200px;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.product-buy-it-now {
  align-items: center;
}

.product-info {
  text-align: right;
}

/* Product Reviews */

#product-reviews {
  background: rosybrown;
  color: white;
  text-align: center;
  padding: 50px;
    border-radius:20px;
}

/* Footer */

footer {
  display: flex;
  padding: 15px 10px 15px 10px;
  font-size: 12px;
}

.footer-links {
  flex: 1;
}

.footer-copyright {
  flex: 1;
  text-align: right;
}

.footer-copyright p {
  margin: 0;
}