body { 
    background-color:lightcyan;
}

h1,h2,h3
{
   
    margin:0;
}

.branding{
    background: black;
    width: 150px;
    height:150px;
}

nav a{ 
    display:inline-block;
    background:gray;
    border:1px solid;
    border-color:black;
    border-radius:8px;
    padding:10px 30px 10px 30px;